@charset "UTF-8";

/* reset */
*{margin: 0; padding:0;}
body {background:url("../images/bg.gif")repeat-x;}
ul, li {margin: 0; padding: 0; list-style: none;}
a {text-decoration: none;} /* text-decoration: none; 링크에 줄 없애기 */

.blind {
    position:absolute; top:0; left:0;
    overflow:hidden; text-indent:-9999999px;
    width: 0; height: 0; font-size:0;
}


#wrap {width: 1200px; margin:0 auto;} 

/* margin: 50px 30px 50px 150px; < 상, 오, 하, 왼 /
/* margin : 0 auto; < 상, 하 0 + 좌,우 auto : 중앙정렬> */

/* header */ 
#wrap header {height: 120px; background: #fff;}
#wrap header .logo{width:300px; height: 120px; float:left;}

#wrap header .logo a{font-size:30px; line-height: 120px;
font-weight: bold; color:rgb(56, 168, 28);}
#wrap header .logo a:hover {color: pink;}




/*menu*/
#wrap header .menu{width:900px; height: 120px; float:left;}
#wrap header .menu ul {float:right;}
#wrap header .menu ul li{float:left; margin-right:40px;
height: 120px; line-height: 120px;
font-family: 'Nanum Gothic', sans-serif;
}


/* #wrap header .menu ul li a{display: block; width:130px; height:120px;
background: #000; color:#fff; text-align:center;} */

#wrap header .menu ul li a{color:rgb(56, 168, 28);
font-size:20px; font-weight: bold;}

#wrap header .menu li a:hover{color: #999; 
border-bottom:2px solid #999;
padding-bottom:3px;}






/*contents*/
#wrap section.me {height: 500px; background: #666;}
#wrap section.info { height: 350px; background: #fff;}

/*공지사항*/
#wrap section.info .notice{ width: 600px;  height: 350px; float:left;}
#wrap section.info .notice h1 {
    font-family: 'Nanum Gothic', sans-serif;
    color: #333;
    font-size: 25px;
    margin: 15px 0 10px 0;
}
#wrap section.info .notice ul li{
    height: 40px; line-height: 40px; 
    border-bottom: 1px dotted #ddd;

}
#wrap section.info .notice ul li a{
    color: #333; 
    padding-left: 4px;
}
#wrap section.info .notice ul li a:hover{
    text-decoration: underline;
}
#wrap section.info .notice ul li span{
    float:right;
    padding-right: 4px;
    color: #999;
    font-size:15px;
}
#wrap section.info .notice ul li .a1{
    float: left; color: #43a158;
    font-size: 16px;
}
#wrap section.info .notice ul li .a2{
    float: left; color: #fa3;
    font-size: 16px;
}
#wrap section.info .notice ul li .a3{
    float: left; color: #c3d;
    font-size: 16px;
}
#wrap section.info .notice ul li .a4{
    float: left; color: #3edf;
    font-size: 16px;
}    
#wrap section.info .notice ul li .a5{
    float: left; color: #bd2;
    font-size: 16px;
}    
#wrap section.info .notice ul li .a6{
    float: left; color: #c35;
    font-size: 16px;
}    
#wrap section.info .notice ul li .a7{
    float: left; color: #b34;
    font-size: 16px;
}    

#wrap section.info .banner{ width: 600px;  height: 350px;  float:left;}



#wrap section.photo {height: 150px; background: #999;}
#wrap section.photo a img{display: block; float:left;}
#wrap section.photo a:hover{opacity: 0.5;}

/*footer*/
#wrap footer {height: 120px; 
    /* border-top:1px solid #999; 
    background: #fff; */
    /* box-sizing: border-box; */
    /* 여백과 선을 기본 사이즈에 포함*/
}

#wrap footer .blogo{
    width: 250px;height: 120px;
    float: left;}

#wrap footer .blogo a{
    display: block;
    margin-top: 30px;
    font-size:25px; color: rgb(90, 158, 73);
    font-weight: bold;}

    #wrap footer .copyright p {line-height: 1.6; font-size:14px; 
        color:#999; text-align: center; margin-top:25px;}
        #wrap footer .copyright p a {color:#000;}
        #wrap footer .copyright p a:hover { color:#999;
        text-decoration: underline; /* 링크에 라인 넣기 */ 
            }
            


#wrap footer .sns ul {float:right;}
#wrap footer .sns ul li{
    float: left; margin: 40px 0 0 10px;}

#wrap footer .sns ul li img:hover{
    opacity: 0.5;
    width: 250px;height: 120px;
    float: left;
}


#wrap footer .copyright{
    width: 700px;height: 120px;
    float: left;}

        

